@using Syncfusion.EJ2.Grids;
@using Syncfusion.Data;

@using SchMod.Models.Active;
@model IEnumerable<SchMod.Models.Active.ActiLog>

@{
    ViewData["Title"] = "Index";
}
<script src="~/js/jquery-3.1.1.min.js"></script>
<script src="~/js/ActiLog.js"></script>

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="row">
    <div class="form-group col-md-3">
        <label class="e-name">
            Class
        </label>
    </div>
    <div class="form-group col-md-4">
        <ejs-dropdownlist id="selectClsses" width="150px" height="30px" select="changeClsses" datasource="(IEnumerable<string>)ViewBag.clsses">
        </ejs-dropdownlist>
    </div>
    <div class="form-group col-md-3">
        <label class="e-name">
            Activity Group
        </label>
    </div>
    <div class="form-group col-md-4">
        <ejs-dropdownlist id="selectActGrps" width="150px" height="30px" select="changeActGrps" datasource="(IEnumerable<string>)ViewBag.ActGrps">
        </ejs-dropdownlist>
    </div>
</div>
<div>
    <ejs-grid id="ActiLogGrid" cellSelecting="true" allowPaging="true" allowSorting="true" allowFiltering="true" toolbar="@(new List<string>() {"Edit","Update","Cancel","Search" })" enableAltRow="true">
        <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Normal" allowEditOnDblClick="true"></e-grid-editSettings>
        @*<e-data-manager url="/Clsses/DataSource?sess=2016-17"  adaptor="UrlAdaptor"></e-data-manager>*@

        <e-grid-columns>
            <e-grid-column field="ClsId" headerText="Class ID" isPrimaryKey="true" textAlign="Right" width="100"></e-grid-column>
            <e-grid-column field="ClsName" headerText="Class" type="string" width="120"></e-grid-column>
            <e-grid-column field="ClssNum" headerText="Class Order" width="150"></e-grid-column>
            <e-grid-column field="ClassTeacher" headerText="Class Teacher" width="150" editType="dropdownedit" edit="@(new {@params = new{dataSource = ViewBag.dropdownTeacher, fields= new {text= "classTeacher", value= "classTeacher"}}})"></e-grid-column>
            @*<e-grid-column field="classTeacher" headerText="Class Teacher"  editType="dropdownedit" edit=@Json.Serialize(@ViewBag.dropdownTeacher) textAlign="Right" width="120"></e-grid-column>*@
        </e-grid-columns>
    </ejs-grid>
</div>

@*<table class="table">
    <tr>
        <td>

            @{Html.EJ().Grid<ActiLog>
                  ("ActiLogGrid")
                  //.DataManagerID("SubsData")
                  .AllowPaging()
                  //.PageSettings(paging =>
                  //{
                  //    paging.PageSize(10);
                  //})
                  .ToolbarSettings(toolbar =>
                  {
                      toolbar.ShowToolbar().ToolbarItems(items =>
                            {
                            //items.AddTool(ToolBarItems.Add);
                            items.AddTool(ToolBarItems.Edit);
                            //items.AddTool(ToolBarItems.Delete);
                            items.AddTool(ToolBarItems.Update);
                      items.AddTool(ToolBarItems.Cancel);
                  });
                  })
                  .EditSettings(edit => { edit.AllowEditing().EditMode(EditMode.Normal); }) //.AllowAdding().AllowDeleting()
                                                                                            //.Datasource(datasource => datasource.URL(@Url.Action("DataSource"))

                  .ClientSideEvents(eve => { eve.DataBound("dataBound"); })

                  //.Columns(col =>
                  //{
                  //    col.Field("subId").HeaderText("ID").IsPrimaryKey(true).TextAlign(TextAlign.Left).Width(75).Add();
                  //    col.Field("subName").HeaderText("Name").Width(80).Add();
                  //  //col.Field("clss").HeaderText("Class").Width(80).Add();
                  //  col.Field("prefTeacher").HeaderText("Teacher").Width(80).DataSource(ViewBag.dropdownTeacher).EditType(EditingType.Dropdown).Add();
                  //    col.Field("subCode").HeaderText("Code").Width(80).Add();
                  //})
                  .Render();
            }
        </td>
    </tr>

</table>*@
<script type="text/javascript">
        var cCnt = @ViewBag.ColCount;
</script>
