@model SchMod.Models.Convey.Stops

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Stops</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AutoId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AutoId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConveyanceMode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConveyanceMode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stops1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stops1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Circuit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Circuit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MonthlyFare)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MonthlyFare)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FareFromMonth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FareFromMonth)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StopId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
