@model SchMod.Models.General.DashMod

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <img class="card-img-top" src="..." alt="Students Activities">
                <div class="card-body">
                    <h5 class="card-title">Activities</h5>
                    <table  max-height="40"  class="table">
                        <tbody>
                            @foreach (var item in Model.DashActivities)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Activity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Clss)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Roll)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Remark)
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    <a class="card-link" asp-action="Index" asp-controller="Activities">Log</a>
                    <a class="card-link" asp-action="Index" asp-controller="TransActivities">Add Activity</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="~/images/attendance_hands.jpg" alt="Attendance">
                <div class="card-body">
                    <h5 class="card-title">Attendance</h5>
                    <table class="table">
                        <tbody>
                            @foreach (var item in Model.DashAttendances)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Clss)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Roll)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                        <a asp-action="Index" asp-controller="Attendances" class="btn btn-primary">Class Attendance</a>
                    </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <img src="..." alt="Total Fee Collection">
                <div class="card-body">
                    <h5 class="card-title">Fees</h5>
                    <p class="card-text">Total Fee Collection ₹@Html.DisplayFor(model => model.TodaysFeeCollection)</p>
                    <table class="table">
                        <tbody>
                            @foreach (var item in Model.DashFeess)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RegNum)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Clss)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FeeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    <a asp-action="Fee_Std" asp-controller="FeeForms" class="btn btn-primary">Fees</a>
                </div>
            </div>
        </div>
    </div>
</div>

