@model SchMod.Models.Basics.Clss

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Clss</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClsName)
        </dt>
        <dd>
            @Html.LabelFor(model => model.ClsName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClassTeacher)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClassTeacher)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StdStrength)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StdStrength)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BoardCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BoardCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClssNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClssNum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AutoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
