@model SchMod.Models.Active.Attendance

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Attendance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AttId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UniReg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UniReg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegNum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clss)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clss)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AtType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AtType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AttDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cause)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cause)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AcaSession)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AcaSession)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dormant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dormant)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LoginName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoginName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CTerminal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CTerminal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DBid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DBid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AutoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
