@using Syncfusion.EJ2.Grids;
@using Syncfusion.Data;

@using SchMod.Models.Active;
@model IEnumerable<SchMod.Models.Active.Attendance>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<script src="~/js/jquery-3.1.1.min.js"></script>
<script src="~/js/Attendance.js"></script>

<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm("Index", "Attendances", FormMethod.Post, new { id = "Attendances", name = "Attendances" }))
{
    @Html.AntiForgeryToken()

    <table class="table">
        <tr>
            <td>
                <label class="e-name">
                    Class
                </label>
                <div>
                    @Html.DropDownListFor(model => model.Clss, (SelectList)ViewBag.clsses, "Select Class", new { @class = "form -control", @onchange = "changeClsses()", @id = "selectClsses" })
                    <ejs-dropdownlist id="selectClsses" width="150px" height="30px" select="changeClsses" datasource="(IEnumerable<string>)ViewBag.clsses">
                    </ejs-dropdownlist>
                </div>

                <br />
            </td>
            <td>
                <label class="e-name">
                    Type
                </label>
                <div>
                    <ejs-dropdownlist id="selectType" width="150px" height="30px" select="changeType" datasource="(IEnumerable<string>)ViewBag.dropdownAtType" value="@ViewBag.AtType">
                    </ejs-dropdownlist>
                </div>
                <br />
            </td>
            <td>
                <label class="e-name">
                    Date
                </label>
                <div>
                    <ejs-datepicker id="selectDate" width="150px" height="30px" change="changeDate" format="dd-MM-yy" value="@ViewBag.AtDate">
                    </ejs-datepicker>
                </div>
                <br />
            </td>
        </tr>
    </table>
    <div>
        <ejs-grid id="attsGrid" cellSelecting="true" allowSorting="true" allowFiltering="true" toolbar="@(new List<string>() { " Edit", "Update", "Cancel", "Search" })" enableAltRow="true">
            <e-grid-editSettings allowEditing="true" mode="Normal" allowEditOnDblClick="true"></e-grid-editSettings>

            <e-grid-columns>
                <e-grid-column field="AttId" headerText="ID" isPrimaryKey="true" textAlign="Right" width="100"></e-grid-column>
                <e-grid-column field="RegNum" headerText="RegNum" edit="false" type="string" width="120"></e-grid-column>
                <e-grid-column field="StdName" headerText="Name" width="150"></e-grid-column>
                <e-grid-column field="clsRoll" headerText="Roll" width="150"></e-grid-column>
                <e-grid-column field="isAbsent" headerText="Absent" editType="booleanedit" displayAsCheckBox="true" type="boolean" width="150"></e-grid-column>
                <e-grid-column field="Remark" headerText="remark" width="150"></e-grid-column>
                <e-grid-column field="Cause" headerText="Cause" width="150"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>

    </div>
}

