@model SchMod.Models.StdFees.Fcaption

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fcaption</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AutoId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AutoId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FeeCaption)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FeeCaption)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FeeDuration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FeeDuration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FeeType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FeeType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FeeOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FeeOrder)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FeeNameId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
