@using Syncfusion.EJ2.Grids;
@using Syncfusion.EJ2;

@using Syncfusion.Data;

@using SchMod.Models.StdFees;

@model IEnumerable<SchMod.Models.StdFees.DynaFee>
@{
    ViewData["Title"] = "EditDynaFee";
}

<script src="~/js/jquery-3.1.1.min.js"></script>
@*<script src="~/lib/jquery/dist/jquery.js"></script>*@
<script src="~/js/EditDynaFee.js"></script>
<h4>EditDynaFee</h4>
<hr />
<label class="col-md-2 control-label">'@ViewBag.Clss'</label>
<label class="col-md-2 control-label">'@ViewBag.SessionName'</label>
<label class="col-md-2 control-label">'@ViewBag.StdCategory'</label>
<div class="row">
    <div class="form-group col-md-2">
        <label class="control-label">Fee Caption</label>
    </div>
    <div class="form-group col-md-4">
        <input type="text" class="form-control" maxlength="11" id="feeCaption" name="FeeCaption" placeholder="Fee Caption" value="@(ViewBag.FeeCaption)">
    </div>
</div>
<div class="row">
    <div class="form-group col-md-2">
        <label class="control-label">Bill Date</label>
    </div>
    <div class="form-group col-md-4">
        <ej-date-picker id="billDate" value="@(ViewBag.BillDate)" width="200" date-format="MMM/yyyy"></ej-date-picker>
    </div>
</div>
<hr />
<div>
    <ejs-grid id="dynaGrid" cellSelecting="true" toolbar="@(new List<string>() {"Edit","Update","Cancel" })" enableAltRow="true" gridLines="Horizontal">
        <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Normal" allowEditOnDblClick="true"></e-grid-editSettings>
        <e-grid-aggregates>
            <e-grid-aggregate>
                <e-aggregate-columns>
                    <e-aggregate-column field="Amount" type="Sum" footerTemplate="Sum:${Sum}"></e-aggregate-column>
                </e-aggregate-columns>
            </e-grid-aggregate>
        </e-grid-aggregates>
        <e-grid-columns>
            <e-grid-column field="AutoId" headerText="ID" isPrimaryKey="true" textAlign="Right" width="100"></e-grid-column>
            <e-grid-column field="FeeNo" headerText="FeeNo" type="string" width="120"></e-grid-column>
            <e-grid-column field="Caption" headerText="Caption" width="150"></e-grid-column>
            <e-grid-column field="Amount" headerText="Amount" TextAlign="Right" width="150"></e-grid-column>
            @* actionBegin="actionBegin"<e-grid-column field="forMonth" headerText="For Month"  width="150"></e-grid-column>*@
            @*<e-grid-column field="classTeacher" headerText="Class Teacher" width="150" editType="dropdownedit" edit="@(new {@params = new{dataSource = ViewBag.dropdownTeacher, fields= new {text= "classTeacher", value= "classTeacher"}}})"></e-grid-column>*@
            @*<e-grid-column field="classTeacher" headerText="Class Teacher"  editType="dropdownedit" edit=@Json.Serialize(@ViewBag.dropdownTeacher) textAlign="Right" width="120"></e-grid-column>*@
        </e-grid-columns>
    </ejs-grid>
</div>

<script type="text/javascript">
        var jClss = '@ViewBag.Clss';
        var jSession = '@ViewBag.SessionName';
        var jStdFeeCat = '@ViewBag.StdCategory';
        var jFeeCap = '@ViewBag.FeeCaption';
        var jFeeDate = '@ViewBag.FeeDate';

        //function currency(args, data) {
        //    //ej.sum is aggregate to add data's of freight from datasource
        //    return ej.sum(data, "Amount");
        //}
</script>
@*<script>
   let selectedRecord = {};
    function actionBegin(args) {
        if ((args.requestType === 'beginEdit')) {
            selectedRecord = {};
            selectedRecord = args.rowData;
        }
    }
 function changeFn(args) {
        let gridObj = document.getElementById("Grid").ej2_instances[0];
        selectedRecord['Amount'] = args.value;
        gridObj.aggregateModule.refresh(selectedRecord);
</script>*@


