@using Syncfusion.EJ2.Grids;
@using Syncfusion.EJ2;
@using SchMod.Models.StdFees;
@model IEnumerable<SchMod.Models.StdFees.DynaFee>
    @{
    ViewData["Title"] = "NewDynaFee";
    }

    <script src="~/js/jquery-3.1.1.min.js"></script>
    <script src="~/js/NewDynaFee.js"></script>
    <h2>NewDynaFee</h2>

    <hr />
    <label class="col-md-2 control-label">'@ViewBag.Clss'</label>
    <label class="col-md-2 control-label">'@ViewBag.SessionName'</label>
    <label class="col-md-2 control-label">'@ViewBag.StdCategory'</label>

    <label class="col-md-2 control-label">'@ViewBag.FeeCaption'</label>

    <div>
        <ejs-grid id="dynaGrid" cellSelecting="true" allowPaging="true" allowSorting="true" allowFiltering="true" toolbar="@(new List<string>() {" Edit","Update","Cancel","Search" })" enableAltRow="true">
            <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Normal" allowEditOnDblClick="true"></e-grid-editSettings>
            <e-grid-columns>
                <e-grid-column field="AutoId" headerText="ID" isPrimaryKey="true" textAlign="Right" width="100"></e-grid-column>
                @*<e-grid-column field="ClsFeeId" headerText="ID" textAlign="Right" width="100"></e-grid-column>*@
                <e-grid-column field="FeeNo" headerText="FeeNo" type="string" width="120"></e-grid-column>
                <e-grid-column field="Caption" headerText="Caption" width="150"></e-grid-column>
                <e-grid-column field="Amount" headerText="Amount" TextAlign="Right" format="C2" width="150"></e-grid-column>
                <e-grid-column field="ForMonth" headerText="For Month" width="150"></e-grid-column>
                <e-grid-column field="FeeCaption" headerText="Fee Caption" width="150" editType="dropdownedit" edit="@(new {@params = new{dataSource = ViewBag.dropdownTeacher, fields= new {text= " classTeacher", value="classTeacher" }}})"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>

    <script type="text/javascript">
        var jClss = '@ViewBag.Clss';
        var jSession = '@ViewBag.SessionName';
        var jStdFeeCat = '@ViewBag.StdCategory';
        var jFeeCap = '@ViewBag.FeeCaption';
    </script>
