@model SchMod.Models.Active.EnmAttendance

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>EnmAttendance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransActId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransActId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StdClss)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StdClss)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AttDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransActDateStr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransActDateStr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AttType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UniReg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UniReg)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AutoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
